*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: antiquewhite;
}
.main{
    margin:2vw;
    width: auto;
}
h1{
    text-align: center;
    background-color: cadetblue;
    color: white;
}
#txtarea{
   width: 95.8vw;
   margin: 0px;
   font-size: larger;
}
p{
    text-align: center;
    background-color: cadetblue;
    font-size: 2.6vw;
    color: white;
}